
/* Animacion del Giro de carga */
@keyframes giro {
    0% { transform: rotate(0deg); } /* estado incial de la animacion */
    100% { transform: rotate(360deg); } /* estado final rotacion de 360° */
  }

  #cargando {
    margin: 50px auto;
    border: 5px solid #f3f3f3; 
    border-top: 5px solid #873286; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: giro 5s ease infinite; /* ritmo constante desde el inicio hasta el final, sin aceleraciones o desaceleraciones */
  }
  
  /* Estilo para mostrar error */
  .error {
    color: red;
    font-weight: bold;
  }

  /* Animación para que la modal aparezca deslizándose desde arriba */
 @keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 10%;
    opacity: 1;
  }
}

 /* alertas mensaje */

.alert {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #F8D7DA; /* Color de fondo rojo */
  color: #58151C;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border: 1px solid #58151C;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.alert.success {
  background-color: #D1E7DD; /* Color de fondo verde */
  color: #0A3622;
  border: 1px solid #0A3622;

}

.alert p {
  margin: 0;
}
