/* RepresentanteLayout.css */
.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  
  .main-content-wrapper {
    display: flex;
    height: calc(100vh - tuAlturaDelHeader - tuAlturaDelFooter); /* Ajusta las alturas según tu layout */
    margin-top: 3vw; /* Ajusta según la altura de tu header */
  }

  
  .main-content {
    flex-grow: 1; /* Esto hará que el contenido principal ocupe el espacio restante */
    overflow: auto; /* Asegúrate de que el contenido se pueda desplazar si es más largo que la pantalla */
    padding: 20px; /* Espacio alrededor del contenido para que no toque los bordes de la pantalla */
    margin-left: 30%; /* Ajusta según la altura de tu header */

  }
  
 
  