
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type"txt/css" href="styles.css">
    <link rel="icon" type="image/png" href="recursos/logo873287.svg">

    <title>Cooperativa</title>
</head>
<header>
    <div class="grid-layout-header">
        <div class="grid-layout-cabecera">
            <div class="logo"><a href=""><img src="recursos/logo873287.svg" alt="Logo"></a></div>
            <div><input type="text" id="cajaBuscador" name="buscador" placeholder="Buscar artitulo"></div>
            <div class="titulo2"><a href="">Tunani</a></div>
            <div class="logo-soporte"><a href=""><img src="recursos/soporte873287.svg" alt="Logo"></a></div>
            <div class="logo-idioma"><a href=""><img src="recursos/idioma873287.svg" alt="Logo"></a></div>
            <div class="logo-bolsa">
                <a href="">
                    <img src="recursos/bolsa873287.svg" alt="Logo">
                </a>
            </div>
            <div class="logo-bolsa"><a href=""><img src="recursos/favoritos873287.svg" alt="Logo"></a></div>                
            <div class="inicio-sesion"><a href=""><b>INICIAR SESIÓN</b></a></div>
        </div>
       
    </div>
</header>
<body>
    <div class="grid-layout-contenido">
        <div class="caja-titulo-cooperativa">¿Qué es una cooperativa?</div>
        <div class="caja2">
            <p class="texto-cooperativa">Una cooperativa es una organización o empresa propiedad de sus miembros, quienes se unen voluntariamente para satisfacer sus necesidades económicas, sociales y culturales comunes mediante un proyecto gestionado democráticamente. Las cooperativas se rigen por principios de participación igualitaria, donde las decisiones se toman colectivamente, y los beneficios o ganancias se distribuyen entre los miembros de acuerdo a su participación o contribución, no basándose en la cantidad de capital invertido.</p>
        </div>
        <div class="caja3">
            <img src="recursos/artesanos.jpg" alt="Artesanos">
        </div>
    </div>
</body>
<footer>
    <div class="grid-layout-footer">
        <a href="">Acerca de tunani</a>
    </div>
</footer>
</html>